<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105489927946-s0p33r5s8sihjjoi0ejhmm6865tqgn1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105489927946-s0p33r5s8sihjjoi0ejhmm6865tqgn1c</string>
	<key>API_KEY</key>
	<string>AIzaSyDzmKLc_2keqqgPCdzYXd0S0xCPLpGD-u4</string>
	<key>GCM_SENDER_ID</key>
	<string>105489927946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter.learning.flutterLearning</string>
	<key>PROJECT_ID</key>
	<string>flutter-learning-1a840</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-learning-1a840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105489927946:ios:4c27dcc0921f9fbda9f4f3</string>
</dict>
</plist>